{% extends 'base.html' %}
{% block content %}
<p align="center">
<h1> Welcome to <span class="text-primary">Crowd.Str</span></h1>
</p>
<p>
    Краудсорсинг — это новая информационная технология, которая собирает заинтересованных людей в одном месте и дает возможность предлагать свои идеи на заданную тему, комментировать и обсуждать, дорабатывать и выбирать лучшие. Технологический процесс открытой современной площадки crowdsourcestr.ru построен на полном цикле работы с идеями cтерлитамаковцев Идея ➝ Экспертный отбор ➝ Обсуждение ➝ Голосование ➝ Реализация — и позволяет решать самые сложные задачи креативно и совместно
</p>
{% endblock %}
